<!-- ko with: todoList -->
<div data-bind="visible: loading">Loading...</div>
<div data-bind="visible: !loading()">
    <p class="text-success" data-bind="text: message"></p>
    <h2>Your list of TODOs</h2>
    <section>
        <div>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-md-2 control-label">Add TODO</label>
                    <input data-bind="value: newTodoDescription"/>
                    <button data-bind="click: addTodo, disable: saving">addTodo</button>
                </div>
            </form>
        </div>
        <div data-bind="if: todoArray().length >= 0">
            <h4>Current TODOs</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Completed</th>
                        <th>
                            <a href="#" data-bind="click: sortByPriority">Priority</a> 
                            <span class="glyphicon glyphicon-sort-by-attributes" data-bind="visible: sortingByPriority() == sortingAscending"></span>
                            <span class="glyphicon glyphicon-sort-by-attributes-alt" data-bind="visible: sortingByPriority() == sortingDescending"></span> 
                        </th>
                        <th>
                            <a href="#" data-bind="click: sortByDescription">Description</a> 
                            <span class="glyphicon glyphicon-sort-by-attributes" data-bind="visible: sortingByDescription() == sortingAscending"></span>
                            <span class="glyphicon glyphicon-sort-by-attributes-alt" data-bind="visible: sortingByDescription() == sortingDescending"></span> 
                        </th>
                        <th>
                            <a href="#" data-bind="click: sortByDueDate">DueDate</a> 
                            <span class="glyphicon glyphicon-sort-by-attributes" data-bind="visible: sortingByDueDate() == sortingAscending"></span>
                            <span class="glyphicon glyphicon-sort-by-attributes-alt" data-bind="visible: sortingByDueDate() == sortingDescending"></span> 
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: todoArray">
                    <tr>
                        <td><input type="checkbox" data-bind="checked: completed, event: { change: $parent.updateTodo}" /></td>
                        <td><select data-bind="options: $parent.priorityEnum, value: priority, optionsValue: 'value', optionsText: 'priorityText', event: { change: $parent.updateTodo}"></select></td>
                        <td><input data-bind="value: description, event: { change: $parent.updateTodo}" /></td>
                        <td><input data-bind='datepicker: dueDate, event: { change: $parent.updateTodo}' /></td>
                        <td><a href="#" data-bind="click: $parent.removeTodo, disable: $parent.saving">Remove</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section>
        <ul class="text-danger" data-bind="foreach: errors">
            <li data-bind="text: $data"></li>
        </ul>
    </section>
    <p><a href="#" data-bind="click: home">Home</a> Go back to Home.</p>
</div>

<!-- /ko -->

